data/
!src/data

results/
results_vis/

lightning_logs/
*.log

*.jpg

chunk*

*.db

errors/
outputs/
__pycache__/


mb_2grid_all
mb_overlay_all
overlay_20
overlay_500
overlay_all
results_final_1
results_final
output_log.txt
results_first/
results_second/
zizz951J